[submodule "external/protobuf-c"]
	path = external/protobuf-c
	url = https://github.com/vulkancurrency/protobuf-c.git
[submodule "external/protobuf-c-rpc"]
	path = external/protobuf-c-rpc
	url = https://github.com/vulkancurrency/protobuf-c-rpc.git
[submodule "external/rocksdb"]
	path = external/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "external/pittacus"]
	path = external/pittacus
	url = https://github.com/izeigerman/pittacus.git
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/vulkancurrency/miniupnp.git
