[submodule "external/rocksdb"]
	path = external/rocksdb
	url = https://github.com/vulkancurrency/rocksdb.git
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/vulkancurrency/miniupnp.git
[submodule "external/libsodium-CMake"]
	path = external/libsodium-CMake
	url = https://github.com/vulkancurrency/libsodium-CMake.git
[submodule "external/lmdb"]
	path = external/lmdb
	url = https://github.com/vulkancurrency/lmdb.git
[submodule "external/Collections-C"]
	path = external/Collections-C
	url = https://github.com/vulkancurrency/Collections-C.git
[submodule "external/leveldb"]
	path = external/leveldb
	url = https://github.com/vulkancurrency/leveldb.git
[submodule "external/libuv"]
	path = external/libuv
	url = https://github.com/vulkancurrency/libuv.git
[submodule "external/mongoose"]
	path = external/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "external/json-c"]
	path = external/json-c
	url = https://github.com/json-c/json-c.git
