[submodule "external/rocksdb"]
	path = external/rocksdb
	url = https://github.com/vulkancurrency/rocksdb.git
[submodule "external/pittacus"]
	path = external/pittacus
	url = https://github.com/vulkancurrency/pittacus.git
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/vulkancurrency/miniupnp.git
